<p>
  <b>Schedule:</b>
  <%=h @slot.schedule_id %>
</p>

<p>
  <b>Schedulable:</b>
  <%=h @slot.schedulable_id %>
</p>

<p>
  <b>Day:</b>
  <%=h @slot.day %>
</p>

<p>
  <b>Start time:</b>
  <%=h @slot.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @slot.end_time %>
</p>


<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>