<div id="error" class="alert error" style="display:none;"></div>

<!--[form:psa]-->
<fieldset id="psa_details" class="clearfix">
	<legend>PSA Details</legend>
	<ol>
		<li>
	    	<label for="name">Name</label>
	    	<%= f.text_field :name, :class => 'title' %>
		</li>
		<li>
	    	<label for="code">Code</label>
	    	<%= f.text_field :code, :class => 'title' %>
		</li>	
		<li>
	    	<label for="body">Body</label>
	    	<%= f.text_area :body %>
		</li>
		<li>
	    	<label for="duration">Duration (Seconds)</label>
	    	<%= f.text_field :duration %>
		</li>
		<li>
	    	<label for="is_live">Is live</label>
	    	<%= f.check_box :is_live %>
		</li>
		<li>
	    	<label for="expires_on">Expires on</label>
	    	<%= f.datetime_select :expires_on %>
		</li>
	</ol>
</fieldset>
<!--[eoform:psa]-->