<% content_for :record do %>
  <p><%= link_to("Edit '#{@psa}'", edit_psa_path(@psa))%></p>
  <dl>
    <dt>Expires On:</dt>
    <dd><%= h(@psa.expires_on || "N/A") %></dd>
  </dl>
<% end %>

<h1>PSA: "<%= h @psa.name %>"</h1>
<h2><%= h @psa.code %></h2>

<%= @psa.body %>