<h1>Manage Plays</h1>

<table>
	<thead>
  	<tr>
    	<th>Name</th>
    	<th>Is request</th>
    	<th>Is bincut</th>
    	<th>Is marked</th>
		<th colspan="3"></th>
  	</tr>
	</thead>
  
	<tbody>
<% @plays.each do |play| %>
	<tr id="<%= play.dom_id %>" class="<%= cycle(nil, 'stripe')%>">
		<td><%= h play.name %></td>
		<td><%= h play.is_request %></td>
		<td><%= h play.is_bincut %></td>
		<td><%= h play.is_marked %></td>
    	<td><%= link_to 'Show', play_path(play) %></td>
    	<td><%= link_to 'Edit', edit_play_path(play) %></td>
    	<td><%= link_to_remote 'Destroy', 
								:url => play_path(play), 
								:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	</tbody>
<% end %>
</table>