<div id="error" class="alert error" style="display:none;"></div>

<!--[form:program]-->
<fieldset id="program_details" class="clearfix">
	<legend>Program Details</legend>
	<ol>
	
		<li>
	    	<label for="name">Name</label>
	    	<%= f.text_field :name %>
		</li>
	
		<li>
	    	<label for="description">Description</label>
	    	<%= f.text_area :description %>
		</li>
	
		<li>
	    	<label for="day">Day</label>
	    	<%= f.text_field :day %>
		</li>
	
		<li>
	    	<label for="start_hour">Start hour</label>
	    	<%= f.text_field :start_hour %>
		</li>
	
		<li>
	    	<label for="end_hour">End hour</label>
	    	<%= f.text_field :end_hour %>
		</li>
	
		<li>
	    	<label for="type">Type</label>
	    	<%= f.text_field :type %>
		</li>
	
		<li>
	    	<label for="url">Url</label>
	    	<%= f.text_field :url %>
		</li>
	
	</ol>
</fieldset>
<!--[eoform:program]-->