<h1>Manage Programs</h1>

<table>
	<thead>
  	<tr>
    	<th>Name</th>
    	<th>Description</th>
    	<th>Day</th>
    	<th>Start hour</th>
    	<th>End hour</th>
    	<th>Type</th>
    	<th>Url</th>
		<th colspan="3"></th>
  	</tr>
	</thead>
  
	<tbody>
<% @programs.each do |program| %>
	<tr id="<%= program.dom_id %>" class="<%= cycle(nil, 'stripe')%>">
		<td><%= h program.name %></td>
		<td><%= h program.description %></td>
		<td><%= h program.day %></td>
		<td><%= h program.start_hour %></td>
		<td><%= h program.end_hour %></td>
		<td><%= h program.type %></td>
		<td><%= h program.url %></td>
    	<td><%= link_to 'Show', program_path(program) %></td>
    	<td><%= link_to 'Edit', edit_program_path(program) %></td>
    	<td><%= link_to_remote 'Destroy', 
								:url => program_path(program), 
								:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	</tbody>
<% end %>
</table>