<% content_for :record do %>
  <p><%= link_to("Manage Slots", schedule_slots_path(@schedule)) %></p>
  <p><%= link_to("Add a New Slot", new_schedule_slot_path(@schedule)) %></p>
<% end %>

<h1><%= h @schedule %></h1>
<%= @schedule.description %>

<%= render(:partial => 'schedules/summary', :object => @schedule) %>