<div id="error" class="alert error" style="display:none;"></div>

<!--[form:event]-->
<fieldset id="event_details" class="clearfix">
	<legend>Event Details</legend>
	<ol>
	
		<li>
	    	<label for="name">Name</label>
	    	<%= f.text_field :name %>
		</li>
	
		<li>
	    	<label for="type">Type</label>
	    	<%= f.select :type, [["Music Event", "MusicEvent"]] %>
		</li>
	
		<li>
	    	<label for="location">Location</label>
	    	<%= f.text_field :location %>
		</li>
	
		<li>
	    	<label for="description">Description</label>
	    	<%= f.text_area :description %>
		</li>
	
		<li>
	    	<label for="phone">Phone</label>
	    	<%= f.text_field :phone %>
		</li>
	
		<li>
	    	<label for="url">Url</label>
	    	<%= f.text_field :url %>
		</li>
	
		<li>
	    	<label for="starts_at">Starts at</label>
	    	<%= f.unobtrusive_datetime_picker :starts_at %>
		</li>
	
		<li>
	    	<label for="ends_at">Ends at</label>
	    	<%= f.unobtrusive_datetime_picker :ends_at %>
		</li>
	</ol>
</fieldset>
<!--[eoform:event]-->