<h1>Editing Event '<%= @event%>'</h1>

<% remote_form_for(:event, :url => event_path(@event), :html => { :method => :put }) do |f| %>
	<fieldset id="event_details" name="Event Details" class="clearfix">
		<%= render(:partial => "events/form", :locals => {:f => f})%>
    	<%= submit_tag "Update" %>
	</fieldset>
<% end %>

<%= link_to 'Show', event_path(@event) %> |
<%= link_to 'Back', events_path %>