<h1>Create a New Playlist</h1>

<% form_for(:playlist, :url => playlists_path) do |f| %>
	<div id="error" class="alert error" style="display:none;"></div>

<% if current_user.programs.any? %>
	<fieldset id="program-select">
	  <%= radio_button_tag :_type, :program %>
	  <label>Playlist for Program</label>
	  <%= select_tag :program_id,  options_from_collection_for_select(current_user.programs, :id, :to_s)  %>
	</fieldset>
	
	<fieldset id="random-playlist">
	  <%= radio_button_tag :_type, :random %>
	  <label>Random Playlist</label>
	</fieldset>
<% end %>
	
  <fieldset id="playlist-details">
  	<ol>
  		<li>
  	    	<label for="start_time">Start Time</label>
  	    	<%= f.datetime_select :starts_at %>
  		</li>
	
  		<li>
  	    	<label for="end_time">End Time</label>
  	    	<%= f.datetime_select :ends_at %>
  		</li>
  	</ol>
  </fieldset>
  
  <%= submit_tag "Create" %>
<% end %>

