<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, formatted_playlist_path(@playlist, :rss)) %>
<% end %>

<% content_for :record do %>
  <ul>
    <li><%= link_to("View Enlarged for Radio", formatted_playlist_path(@playlist, :enlarged))%></li>
  </ul>
<% end %>

<% content_for :section do %>
    <h3>Music</h3>
    <ul>
      <li><%= link_to_unless_current "Artists", artists_path %></li>
      <li><%= link_to_unless_current "Albums",  albums_path %></li>
      <li><%= link_to_unless_current "Labels",  labels_path %></li>
      <li><%= link_to_unless_current "Genres",  genres_path %></li>
    </ul>
    
    <h3>Production</h3>
    <ul>
      <li><%= link_to_unless_current "Schedules", schedules_path %></li>
      <li><%= link_to_unless_current "Programs",  programs_path %></li>
      <li><%= link_to_unless_current "PSAs",      psas_path %></li>
      <li><%= link_to_unless_current "Promos",    promos_path %></li>
    </ul>
<% end %>

<div class="column span-10">
<% if @playlist.program %>
  <h1>Playlist for <%= h @playlist.program %></h1>
<% else %>
  <h1>Random Playlist</h1>
<% end %>
<h2><%= @playlist.starts_at.to_ordinalized_s(:mdy) %></h2>
</div>
<div class="column span-7 last">
<% remote_form_for(:playlist, :url => playlists_path) do |f| %>
  <fieldset id="playlist-details">
  	<ol>
  		<li>
  	    	<label for="starts_at">Start Time</label>
  	    	<%# f.time_select :starts_at %>
  		</li>
  		<li>
  	    	<label for="ends_at">End Time</label>
  	    	<%# f.time_select :ends_at %>
  		</li>
  	</ol>
  </fieldset>
<% end %>
</div>

<hr />

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th></th>
      <th>Time</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody id="plays">
    <%= render(:collection => @playlist.plays, :partial => 'music/plays/summary/row') %>
  </tbody>
</table>