<% content_for :record do %>
  <p><%= link_to("Edit '#{@promo}'", edit_promo_path(@promo))%></p>
  <dl>
    <dt>Duration</dt>
    <dd><%= h(@promo.duration || "N/A") %></dd>
  </dl>
<% end %>

<h1>PSA: "<%= h @promo.name %>"</h1>
<h2><%= h @promo.code %></h2>

<%= @promo.body %>